﻿
@{
    ViewBag.Title = "GetFiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get Files</h2>

<input type="text" id="idUser" placeholder="Id of user" name="id"/>

<a href="#" class="btn btn-success" onclick="Exec()">Submit</a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script>
    function Exec() {
        var url = "/Home/IframeUrl/" + $("#idUser").val();
        window.location.href = url;
    }

</script>