﻿
@{
    ViewBag.Title = "IframeUrl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Iframe</h2>
@{
    var url = "https://script.google.com/macros/s/AKfycbxBpabYHbEEEgE5Mi9pr5crgUZ6BupRNsrttVMMxBQAEMTouqpQ/exec?id=" + ViewBag.id + "&output=embed";
    var url2 = "https://drive.google.com/accounts?continueUrl=http://localhost:35025/Home/IframeUrl/" + ViewBag.id;
}
<a href=@Html.Raw(url2)> Click here if you are having trouble switching accounts</a>
<br />
<br /><iframe src=@Html.Raw(url) style="border:0;width:100%;height:100em"></iframe>


