﻿
@{
    ViewBag.Title = "Iframe4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Iframe4</h2>
@{
    var url = "https://script.google.com/macros/s/AKfycbyh5TVUR_XleaLgvmBEk8EjtkXZKi-6QspaqF2Bp9pEJ5T07Cwv/exec?id=" + ViewBag.id + "&parent=" + ViewBag.parentType + "&output=embed";

}

<iframe src=@Html.Raw(url) style="border:0;width:100%;height:100em"></iframe>
