﻿
@{
    ViewBag.Title = "Iframe1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Iframe1</h2>
@{ 
    var url = "https://script.google.com/macros/s/AKfycbx53ZTjocywfQvDED_0MryTimiQSWgp-AFVRafSb8QvoedGEXs/exec?id=" + ViewBag.id + "&parent=" + ViewBag.parentType + "&output=embed";

}

<iframe src=@Html.Raw(url) style="border:0;width:100%;height:100em"></iframe>
