﻿
@{
    ViewBag.Title = "Iframe3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Iframe3</h2>
@{
    var url = "https://script.google.com/macros/s/AKfycbwMZH1CsFGz7p1CZt3s_eFFBfc2VhhqNwK8ZPz9ZpSuvcfAjViN/exec?id=" + ViewBag.id + "&parent=" + ViewBag.parentType + "&output=embed";

}

<iframe src=@Html.Raw(url) style="border:0;width:100%;height:100em"></iframe>
