﻿
@{
    ViewBag.Title = "Iframe2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Iframe2</h2>

@{
    var url = "https://script.google.com/macros/s/AKfycbzD7lONiEnUVnDIbvMb3Y0sPHngYT_qHLEyWSozwfYHbTOq9Oc/exec?id=" + ViewBag.id + "&parent=" + ViewBag.parentType + "&output=embed";

}

<iframe src=@Html.Raw(url) style="width:100%;height:100em"></iframe>