﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="/Home/UploadInit"> Demo: Pre-defined ID and Pre-defined Concerned Person</a>
<a href="/Home/GetFiles"> Demo: Show Contents for a Pre-defined ID</a>
<script>

</script>