﻿
@{
    ViewBag.Title = "UploadInit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UploadInit</h2>

<a href="/Home/UploadForm1"> Demo 1: Pre-defined ID and Concerned Person is Employed in the Philippines (including self-employed)</a><br />

<a href="/Home/UploadForm2"> Demo 2: Pre-defined ID and Concerned Person is Employed Abroad</a><br />

<a href="/Home/UploadForm3"> Demo 3: Pre-defined ID and Concerned Person is Unemployed and without income</a><br />

<a href="/Home/UploadForm4"> Demo 4: Pre-defined ID and Concerned Person is Unemployed but with other sources of income</a><br />