﻿@model UploadProject.Models.UnemployedButWithOtherSourcesOfIncome
@{
    ViewBag.Title = "UploadForm4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Unemployed But With Other Sources Of Income</h2>

@using (Html.BeginForm("UploadForm4", "Home", FormMethod.Post, new { target = "_blank" }))
{
    <div style="border:5px solid black;">
        <h1> Affidavit of Financial Support Stating Monthly Support Provided </h1>
        <br />
        <br />

        <div style="margin-left:10px;">
            <p> Date Issued </p>
            @Html.TextBoxFor(u => u.affidavit_of_financial_support_stating_monthly_support_provided.date_issued)
        </div>
        <br />
        <br />

        <div style="margin-left:10px;">
            <p> ID Presented to the Notary Public</p>
            @Html.TextBoxFor(u => u.affidavit_of_financial_support_stating_monthly_support_provided.id_presented_to_the_notary_public)
        </div>
        <br />
        <br />

        <div style="margin-left:10px;">
            <p> Place of Isse </p>
            @Html.TextBoxFor(u => u.affidavit_of_financial_support_stating_monthly_support_provided.place_of_isse)
        </div>
        <br />
        <br />
        <div style="margin-left:10px;">
            <h2> For Sample</h2> <br />

            <input type="text" name="id" placeholder="ID" />
            <input type="text" name="parentType" placeholder="Parent Type" />
            <br />
            <br />
        </div>
    </div>
        <input type="submit" value="Upload Document" />
            @*<a href="~/Views/Home/HtmlPage1.html"> Upload Necessary Documents to Google Drive </a>*@


}