﻿@model UploadProject.Models.EmployedInThePhilippines

@{
    ViewBag.Title = "UploadForm1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employed In The Philippines</h2>

@using (Html.BeginForm("UploadForm1", "Home", FormMethod.Post,new { target = "_blank" }))
{
    <div style="border:5px solid black;">
        <h1> Latest Annual Income/Tax Return OR Details </h1>
        <br />
        <br />
        <div style="margin-left:10px;">
            <p> Year Covered </p>
            @Html.TextBoxFor(u => u.latest_annual_income.year_covered)
        </div><br />
        <br />
        <div style="margin-left:10px;">
            <p> TIN Number </p>
            @Html.TextBoxFor(u => u.latest_annual_income.TIN)
        </div>
        <br />
        <br />

        <div style="margin-left:10px;">
            <p> Gross Compensation Income </p>
            @Html.TextBoxFor(u => u.latest_annual_income.gross_compensation_income)
        </div>
        <br />
        <br />
    </div>
        <br />
        <div style="border:5px solid black;">
            <h1> Certificate of Employment Details </h1>
            <br />
            <br />

            <div style="margin-left:10px;">
                <p> Company Name </p>
                @Html.TextBoxFor(u => u.certificate_of_employment.company_name)
            </div>
            <br />
            <br />

            <div style="margin-left:10px;">
                <p> Date Issued </p>
                @Html.TextBoxFor(u => u.certificate_of_employment.date_issued)
            </div>
            <br />
            <br />

            <div style="margin-left:10px;">
                <p> Total Income Declared </p>
                @Html.TextBoxFor(u => u.certificate_of_employment.total_income_declared)
            </div>
            <br />
            <br />
            <div style="margin-left:10px;">
                <h2> For Sample</h2> <br />

                <input type="text" name="id" placeholder="ID" />
                <input type="text" name="parentType" placeholder="Parent Type" />
                <br />
                <br />
                </div>
            </div>
        <input type="submit" value="Upload Documents" /> 
        @*<a href="~/Views/Home/HtmlPage1.html"> Upload Necessary Documents to Google Drive </a>*@


}