﻿@model UploadProject.Models.UnemployedAndWithoutIncome
@{
    ViewBag.Title = "UploadForm2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Unemployed and Without Income</h2>

@using (Html.BeginForm("UploadForm3", "Home", FormMethod.Post, new { target = "_blank" }))
{
    <div style="border:5px solid black;">
        <h1> Certificate of Non-filing of Income Tax Return OR </h1>
        <br />
        <br />

        <div style="margin-left:10px;">
            <p> Date Issued </p>
            @Html.TextBoxFor(u => u.certificate_of_non_filing_of_income_tax_return_or.date_issued)
        </div>
        <br />
        <br />

        <div style="margin-left:10px;">
            <p> Issuing BIR Branch </p>
            @Html.TextBoxFor(u => u.certificate_of_non_filing_of_income_tax_return_or.issuing_BIR_branch)
        </div>
        <br />
        <br />

        <div style="margin-left:10px;">
            <p> Name of Issuing Authority/Signatory </p>
            @Html.TextBoxFor(u => u.certificate_of_non_filing_of_income_tax_return_or.name_of_issuing_authority_signatory)
        </div>
        <br />
        <br />
        
    </div>
    <div style = "border:5px solid black;" >
        <h1> Municipal Certificate of Unemployment </h1>
        <br />
        <br />

        <div style="margin-left:10px;">
            <p> Date Issued </p>
            @Html.TextBoxFor(u => u.municipal_certification_of_unemployment.date_issued)
        </div>
        <br />
        <br />

        <div style="margin-left:10px;">
            <p> Name of Issuing Authority/Signatory </p>
            @Html.TextBoxFor(u => u.municipal_certification_of_unemployment.name_of_issuing_authority_signatory)
        </div>
        <br />
        <br />

        <div style="margin-left:10px;">
            <p> City/Municipality </p>
            @Html.TextBoxFor(u => u.municipal_certification_of_unemployment.city_municipality)
        </div>
        <br />
        <br />
        <div style="margin-left:10px;">
            <h2> For Sample</h2> <br />

            <input type="text" name="id" placeholder="ID" />
            <input type="text" name="parentType" placeholder="Parent Type" />
            <br />
            <br />
        </div>
    </div>
        <input type="submit" value="Upload Document" />
            @*<a href="~/Views/Home/HtmlPage1.html"> Upload Necessary Documents to Google Drive </a>*@


}